body {
  background: #e6eeff;
  font-family: 'Inconsolata', monospace;
}

p{
  font-size: 25px;
  text-align: center;
}

.fdiv{
  width: 50%;
  height: 150px;
  margin:auto;
}

input[type=file]::-webkit-file-upload-button {
  text-align: center;
  font-size: 15px;
  width: 100px;
  color: white;
  height: 50px;
  border: 2px solid #6c5ce7;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
  font-weight: bold;
  
}

.dataable{
  width: 100%;
  height: auto;
  }

a{
  color :red;
  text-decoration: none;
  padding-top: 20px;
}

button{
  text-align: center;
  font-size: 15px;
  width: 180px;
  color: white;
  height: 50px;
  border: 2px solid #6c5ce7;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
  font-weight: bold; 
}



